$white-color: #EFEFEF;
$white-text: #f5f5f5;
$dark-color: #292929;
$dark-text: #1B0D0D;
$main-color: rgb(250, 185, 32);
$panel-shadow: rgba(41, 41, 41, 0.97);
$panel-desktop-shadow: rgba(41, 41, 41, 0.9);
$nav-shadow: rgba(41, 41, 41, 0.99);
$img-shadow: rgba(41, 41, 41, 0.6);
$header-shadow: rgba(41, 41, 41, 0.75);
$subsection-shadow: rgba(41, 41, 41, 0.95);
$full-screen-shadow: rgba(41, 41, 41, 0.9);
$contact-color: #F5F5F5;
$btn-color: #DCDCDC;
$btn-hover: #BDBDBD;

// #121A2A      18, 26, 42
